@model IEnumerable<Books.Models.Shelf>

@{
    ViewData["Title"] = "Shelf";
}

<h1>הוספת ספרים למדפים</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
                <td>
                    @Html.ActionLink("הוסף ספר", "CreateBook2", new { id=item.Id}) |
           
                </td>
        </tr>
}
    </tbody>
</table>
